@page "/colaborador/manterAcessos"
@using Domain.Design.Patterns.Strategy
@using Domain.Models
@using Domain.Interfaces.Accessor
@using Domain.Interfaces.Repository
@using Domain.Interfaces.Business
@using Domain.Models.Bsn
@using Domain.Models.Bsn.Autorizacao
@using Domain.Models.Bsn.Funcionalidade
@using Domain.Models.ViewModels

@inject IColaboradorLogadoAccessor ColaboradorLogadoAccessor
@inject IAutorizacaoBusiness AutorizacaoBusiness
@inject IColaboradorBusiness ColaboradorBusiness
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<PageTitle>Manter Acessos</PageTitle>

<div class='d-flex flex-column align-items-center'>
    <h1>Alterar Acessos</h1>
    <div class='row g-0 w-100 d-flex'>
        <div class='d-flex flex-column col-12 col-sm-6 col-md-4 px-2 pt-3'>
            <label>Colaborador</label>
            <input type='text' @bind="nome" disabled />
        </div>
    </div>
    <div class='row g-0 w-100 d-flex'>
        @foreach (var acesso in acessos)
        {
            <div class='d-flex flex-row align-items-center col-12 col-md-6 px-2 pt-3'>
                <HrhCheckbox @bind-EChecado=@acesso.EstaPermitido EDesabilitado=@(!(ColaboradorLogadoAccessor.ColaboradorLogado.Acessos.Any(x => x.EstaPermitido && x.IdFuncionalidade == BsnFuncionalidadeLiterais.AlterarAcesso.Id))) />
                <label class='ps-2'>@acesso.Funcionalidade.Nome</label>
            </div>
        }
    </div>
    
    <div class='row g-0 w-100 d-flex'>
        <div class='d-flex flex-column col-6 px-2 pt-3'>
            <button class='p-2 border-non-important border-2 border-danger hrh-bg-inherit-non-important h-100 text-danger-non-important onhover-bg-bs-danger-non-important onhover-text-hrh-fundo-non-important' @onclick="VoltarAsync" >
                <span class='oi oi-x pe-2'></span>Cancelar
            </button>
        </div>
        <div class='d-flex flex-column col-6 px-2 pt-3'>
            <button class='p-2 border-non-important border-2 border-success hrh-bg-inherit-non-important h-100 text-success-non-important onhover-bg-bs-success-non-important onhover-text-hrh-fundo-non-important' @onclick="TrySalvarAsync" >
                <span class='oi oi-check pe-2'></span>Salvar
            </button>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "SetRefColaboradorLogadoAsync")]
    public EventCallback<BsnColaboradorLogado> SetRefColaboradorLogadoAsync { get; set; }
    [CascadingParameter(Name = "SairEFecharAsync")]
    public EventCallback SairEFecharAsync { get; set; }
    [CascadingParameter(Name = "SetMensagemDeAlerta")]
    public EventCallback<DetalhesMensagemDeAlertaViewModel> SetMensagemDeAlerta { get; set; }
    [CascadingParameter(Name = "SetMensagemConfirmar")]
    public EventCallback<DetalhesMensagemConfirmarViewModel> SetMensagemConfirmar { get; set; }
    [CascadingParameter(Name = "LockUI")]
    public EventCallback<string> LockUI { get; set; }
    [CascadingParameter(Name = "UnlockUI")]
    public EventCallback<string> UnlockUI { get; set; }
    [CascadingParameter(Name = "VoltarAsync")]
    public EventCallback VoltarAsync { get; set; }
    private string? nome;
    private string? idColaborador;
    private List<BsnAcesso> acessos = new List<BsnAcesso>();
    private string idSalvar = MongoId.NewMongoId;

    private bool deveCarregarDados = false;
    protected override void OnInitialized()
    {
        deveCarregarDados = true;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (deveCarregarDados)
        {
            await CarregarDadosAsync();
            deveCarregarDados = false;
            StateHasChanged();
        }
    }
    private async Task CarregarDadosAsync()
    {
        idColaborador = UriHelper.Uri.ExtrairQueryParamDeUrl("id");
        if (idColaborador == null)
        {
            return;
        }
        var resColaborador = await ColaboradorBusiness.ObterPorIdAsync(idColaborador);
        if (!resColaborador.EstaOk)
        {
            await SetMensagemDeAlerta.InvokeAsync(new DetalhesMensagemDeAlertaViewModel
            {
                Titulo = Message.TituloAtencao,
                NomeDaClasseDeCssDoIcone = Message.IconeErro,
                Mensagem = resColaborador.Mensagem
            });
            return;
        }
        nome = resColaborador.Resultado.Nome;
        var resAcessos = await ColaboradorBusiness.ObterAcessosDoColaboradorAsync(idColaborador);
        if (!resAcessos.EstaOk)
        {
            await SetMensagemDeAlerta.InvokeAsync(new DetalhesMensagemDeAlertaViewModel
            {
                Titulo = Message.TituloAtencao,
                NomeDaClasseDeCssDoIcone = Message.IconeErro,
                Mensagem = resAcessos.Mensagem
            });
        }
        acessos = resAcessos.Resultado;
    }

    public async Task TrySalvarAsync()
    {
        await LockUI.InvokeAsync(idSalvar);
        await Task.Yield();
        var result = await ColaboradorBusiness.AlterarAcessosAsync(idColaborador, acessos);
        if (!result.EstaOk)
        {
            var mensagemDeAlerta = new DetalhesMensagemDeAlertaViewModel()
            {
                Titulo = Message.TituloAtencao,
                NomeDaClasseDeCssDoIcone = Message.IconeErro,
                Mensagem = result.Mensagem
            };
            await SetMensagemDeAlerta.InvokeAsync(mensagemDeAlerta);
            await UnlockUI.InvokeAsync(idSalvar);
            return;
        }
        await SetMensagemDeAlerta.InvokeAsync(new DetalhesMensagemDeAlertaViewModel()
        {
            Titulo = Message.TituloAtencao,
            NomeDaClasseDeCssDoIcone = Message.IconeSucesso,
            Mensagem = result.Mensagem,
            AcaoAposFechar = EventCallback.Factory.Create(this, () => UriHelper.NavigateTo("/colaborador", true))
        });
        await UnlockUI.InvokeAsync(idSalvar);
    }
}
