@using Domain.Models
@using Domain.Models.Bsn
@using Domain.Models.Bsn.Autorizacao
@using Domain.Models.ViewModels
@using Domain.Interfaces.Accessor
@using Domain.Interfaces.Business
@inject IColaboradorLogadoAccessor ColaboradorLogadoAccessor
@inject IAutorizacaoBusiness AutorizacaoBusiness

<PageTitle>Cadastrar</PageTitle>

<div class='d-flex flex-column align-items-center'>
    <h1>Cadastrar</h1>

    <div class='row g-0 w-100 d-flex d-md-none justify-content-center '>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Nome</label>
            <input type='text' @bind="nome" />
        </div>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Login</label>
            <input type='text' @bind="login" />
        </div>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Senha</label>
            <input type='password' @bind="senha" />
        </div>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Confirmar Senha</label>
            <input type='password' @bind="confirmarSenha" />
        </div>
        <div class='d-flex flex-column col-12 px-2 pt-3'>
            <button class='p-2 border-non-important border-2 border-success hrh-bg-inherit-non-important h-100 text-success-non-important onhover-bg-bs-success-non-important onhover-text-hrh-fundo-non-important' @onclick="SubmitCadastrarAsync" >
                <span class='oi oi-plus pe-2'></span>Cadastrar
            </button>
        </div>
        <div class='d-flex flex-column col-12 px-2 pt-3'>
            <button class='p-2 border-non-important border-2 border-hrh-texto hrh-bg-inherit-non-important h-100 text-hrh-texto-non-important onhover-bg-hrh-texto-non-important onhover-text-hrh-fundo-non-important' @onclick="@(() => VoltarParaTelaEntrar.InvokeAsync())" >
                <span class='oi oi-arrow-left pe-2'></span>Voltar
            </button>
        </div>
    </div>

    <div class='row g-0 w-50 d-none d-md-flex justify-content-center '>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Nome</label>
            <input type='text' @bind="nome" />
        </div>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Login</label>
            <input type='text' @bind="login" />
        </div>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Senha</label>
            <input type='password' @bind="senha" />
        </div>
        <div class='d-flex flex-column col-12 col-sm-6 px-2 pt-3'>
            <label>Confirmar Senha</label>
            <input type='password' @bind="confirmarSenha" />
        </div>
        <div class='d-flex flex-column col-12 px-2 pt-3'>
            <button class='p-2 border-non-important border-2 border-success hrh-bg-inherit-non-important h-100 text-success-non-important onhover-bg-bs-success-non-important onhover-text-hrh-fundo-non-important' @onclick="SubmitCadastrarAsync" >
                <span class='oi oi-plus pe-2'></span>Cadastrar
            </button>
        </div>
        <div class='d-flex flex-column col-12 px-2 pt-3'>
            <button class='p-2 border-non-important border-2 border-hrh-texto hrh-bg-inherit-non-important h-100 text-hrh-texto-non-important onhover-bg-hrh-texto-non-important onhover-text-hrh-fundo-non-important' @onclick="@(() => VoltarParaTelaEntrar.InvokeAsync())" >
                <span class='oi oi-arrow-left pe-2'></span>Voltar
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<BsnColaboradorLogado> SetRefColaboradorLogadoAsync { get; set; }
    [Parameter]
    public EventCallback<string> LockUI { get; set; }
    [Parameter]
    public EventCallback<string> UnlockUI { get; set; }
    [Parameter]
    public EventCallback<DetalhesMensagemDeAlertaViewModel> SetMensagemDeAlerta { get; set; }
    [Parameter]
    public EventCallback VoltarParaTelaEntrar { get; set; }
    private string? nome;
    private string? login;
    private string? senha;
    private string? confirmarSenha;
    private string idCadastrar = MongoId.NewMongoId;

    protected override void OnInitialized()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            nome = "";
            login = "";
            senha = "";
            confirmarSenha = "";
            StateHasChanged();
        }
    }

    private async Task SubmitCadastrarAsync()
    {
        await LockUI.InvokeAsync(idCadastrar);
        await Task.Yield();
        var bsnNovoColaborador = new BsnNovoColaborador()
        {
            Nome = nome ?? "",
            Login = login ?? "",
            Senha = senha ?? "",
            ConfirmarSenha = confirmarSenha ?? ""
        };
        var result = await AutorizacaoBusiness.IncluirColaboradorAsync(bsnNovoColaborador);
        if (!result.EstaOk)
        {
            var mensagemDeAlerta = new DetalhesMensagemDeAlertaViewModel()
            {
                Titulo = Message.TituloAtencao,
                NomeDaClasseDeCssDoIcone = Message.IconeErro,
                Mensagem = result.Mensagem
            };
            await SetMensagemDeAlerta.InvokeAsync(mensagemDeAlerta);
            await UnlockUI.InvokeAsync(idCadastrar);
            return;
        }
        await SetRefColaboradorLogadoAsync.InvokeAsync(ColaboradorLogadoAccessor.ColaboradorLogado);
        await UnlockUI.InvokeAsync(idCadastrar);
    }
}


