<div class="row g-0 border-non-important border-bottom-0 border-start-0 border-end-0 border-2 border-hrh-1 position-fixed bottom-0 w-100 bg-hrh-fundo-non-important z-index-1000-non-important">
    <div class="col-5 p-3">
        <span>HoraH</span>
    </div>
    <div class="col-7 p-3 d-flex justify-content-end">
        <span class="ps-2">Versão 1.0.8</span>
    </div>
</div>

<div class="row g-0 border-non-important border-bottom-0 border-start-0 border-end-0 border-2 border-hrh-1 w-100 bg-hrh-fundo-non-important z-index-1000-non-important invisible">
    <div class="col-5 p-3">
        <span>HoraH</span>
    </div>
    <div class="col-7 p-3 d-flex justify-content-end">
        <span class="ps-2">Versão 1.0.8</span>
    </div>
</div>